@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: rejouice;
    src: url(./Rejouice-Headline.ttf);
}

.grid>div{
    grid-row: var(--r);
    grid-column: var(--c);
}